<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>MONGO APPS</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>May Mongo be with you !</h1>
<form action="search" method="post"><label for="search">Recherche</label><input type="text" name="search"></form>
<ul class="customers">
    <% for(var i=0; i<customers.length; i++) {%>
        <li class="quote">
            <span><%= customers[i].name %></span>
            <span><%= customers[i].address %></span>
            <form action="/del/<%= customers[i]._id %>" method="POST">
                <input id="delete" type="submit" value="delete">
                <a href="/read/<%= customers[i]._id %>">Read</a>
                <a href="/edit/<%= customers[i]._id %>">Edit</a>
            </form>
        </li>
    <% } %>
</ul>
<!--
  <div>
    <h2>Replace last quote written by Master Yoda with a quote written by Darth Vadar</h2>
    <button id="update"> Darth Vadar invades! </button>
  </div>
-->
<script src="main.js"></script>

</body>
</html>